.checkout__left > img {
    width: 100%;
    margin-bottom: 10px;
    height: 240px;
}
.checkout__left > div > h3{
    margin-right: 10px;
    padding: 10px;
}
.checkout{
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.checkout__right{
    padding: 4px;
}

.checkout__title{
   
    border-bottom: 1px solid lightgray;
}